<template name="edit_object_title">
  {{! arguments:
  id: object id
  type: object type (e.g. puzzles, rounds)
  editable: can the title be edited now?
  link_title: if true, make puzzle title a link when not editing
  content block: html to render inside the block while editable but not editing;
                 it will be hidden while editing the title.
  else block: html to render inside the block while not editable. It will be hidden when editable.
  }}
  <div class="bb-{{pretty}}-title {{#if editable}}bb-editable{{/if}}{{#if editing}} control-group {{titleEditClass}}{{/if}}">
    {{#if editing}}
      <input type="text" value="{{name}}" class="input-block-level" />
      {{#if titleEditStatus}}
        <div class="tooltip bottom in bb-edit-status"><div class="tooltip-arrow"></div><div class="tooltip-inner">{{titleEditStatus}}</div></div>
      {{/if}}
    {{else if editable}}
      {{>Template.contentBlock}}{{name}}
      <i class="bb-edit-icon fas fa-pencil-alt"
          title="Edit the name of this {{pretty}}"></i>
    {{else}}
      {{>Template.elseBlock}}{{#if link_title}}{{>link id=id type=type}}{{else}}{{name}}{{/if}}
    {{/if}}
  </div>
</template>